      <div class="header-box1">
        <div class="header-box1a">
          <img src="/images/pa-logo.jpg" alt="Physician's Assistant Logo">
        </div>
        <div class="header-box1b">
          <h1>P.A.S.S.E.D</h1>
          <h2 class="hidden-small">Physician's Assistant Student Skill-Entry Data</h2>
        </div>
      </div>
      <div class="header-box2">
        <h2 class="hidden-big">Physician's Assistant Student Skill-Entry Data</h2>
      </div>
