    <meta charset="utf-8">
    <title></title>
    <!-- ======================
    | | Javascript
    ======================= -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
    <!-- ======================
    | | Stylesheets
    ======================= -->
    <link rel="stylesheet" href="/css/main.css">
