<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <h1>P.A.S.S.E.D</h1>
    <h2>Physician's Assistant Student Skill-Entry Data</h2>
    <p>placeholder for log in page</p>
  </body>
</html>
