<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="body-wrapper">
      <header>
        <% include ../partials/header.ejs %>
      </header>
      <nav>
        <form action="/">
          <input type="submit" class="underline" value="Main" />
        </form>
        <form action="/users/new">
          <input type="submit" class="underline" value="Sign Up" />
        </form>
      </nav>
      <main>
        <form class="" action="/sessions" method="POST">
          <fieldset class="student-info">
            <legend>Log In</legend>
            <!-- username -->
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <!-- password -->
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </fieldset>
          <div class="align-right">
            <input type="submit" value="Log In">
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
