<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="body-wrapper">
      <header>
        <% include ../partials/header.ejs %>
      </header>
      <nav>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" class="underline" value="Log Out" />
        </form>
      </nav>
      <main>
        <form action="/student" method="POST">
          <!-- fieldset for student information -->
          <fieldset class="student-info invisible">
            <legend>Student Information</legend>
            <!-- student name -->
            <label for="studentName">Name</label>
            <input type="text" name="studentName" id="studentName" value="<%=thisUser.studentName; %>" />
            <!-- student id -->
            <label for="studentID">ID Number</label>
            <input type="text" name="studentID" id="studentID" value="<%=thisUser.studentID; %>"/>
          </fieldset>
          <!-- fieldset for skill information -->
          <fieldset class="skill-info">
            <legend>Skill Entry</legend>
            <!-- rotation -->
            <label for="rotation-list">Rotation</label>
            <select name="rotation" id="rotation-list">
            </select>
            <!-- skill -->
            <label for="skill-list">Skill</label>
            <select name="skill" id="skill-list">
            </select>
            <div class="form-box1">
              <div class="form-box2a">
                <!-- preceptor -->
                <label for="preceptor-list">Preceptor</label>
                <select name="preceptor" id="preceptor-list">
                </select>
              </div>
              <div class="form-box2b">
                <!-- level of control -->
                <label for="loC-list">Proficiency</label>
                <select name="levelOfControl" id="loC-list">
                  <option value="1">1: Observation Only</option>
                  <option value="2">2: Participation, Heavy Supervision</option>
                  <option value="3">3: Participation, Minimal Supervision</option>
                  <option value="4">4: Execution, Unsupervised</option>
                </select>
              </div>
            </div>
          </fieldset>
          <div class="align-right">
            <input type="submit" name="" value="Add Entry">
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
